.cache
.npm
.config/btop/btop.log
.git-credentials
.config/lazygit/state.yml
.local/state
.viminfo
.config/google-chrome
.config/GeoGebra
.config/discord
.config/user-dirs.locale
.config/xournalpp
.config/dconf
.config/gtk-2.0
.config/nitrogen
.config/pulse
.config/whatsapp-nativefier-d40211
.config/nvim/plugin/packer_compiled.lua
.config/whatsapp-nativefier-d40211
.config/ranger/plugins
.config/flameshot/flameshot.ini
.config/kritadisplayrc
.config/kritarc
.config/QtProject.conf
.config/Bootstrap Studio/Crashpad
.config/GIMP/2.10
.config/bashtop/error.log
.config/bstudio
.config/github-copilot/hosts.json
.config/onlyoffice/DesktopEditors.conf
.config/ranger/__pycache__/commands.cpython-310.opt-1.pyc
.config/xfce4
.config/menus/applications-merged
.config/Thunar
.bash*
.local/bin/giter

.zsh_history
.gits/personal/other/4583a041bd77656cc86d4f7d13b62a62
.gits/personal/other/Jxstxs
.gits/personal/other/deditor
.gits/personal/other/dynamicXmenu
.gits/personal/other/noicetask
.gits/personal/other/schule
.gits/personal/other/todoc
.gits/personal/other/wiki
.gits/personal/nvim-plugs
.gits/personal/moohs
.lesshst

.local/share/iwctl
.local/share/nvim/mason
.local/share/nvim/project_nvim
.local/share/nvim/shada
.local/share/nvim/site/pack/packer-test/start
.local/share/nvim/undo
.local/share/nvim/.netrwhist
.local/share/nvim/rplugin.vim
.wakatime
.wakatime-internal.cfg
.wakatime.log

.local/share/ranger/history